/*General*/


/*Navbar*/
.tab-right {
  align-items: stretch;
}
/*Left Sidebar*/
#left-sidebar {
  width: 10%;
  float: left;
  border-right: 1px solid blue;
  box-shadow: 2px 2px 10px #7fcae8;
  border-left: none;
  /*background-color: #f2f2f2;*/
  }
/*Body Columns*/
#body-column {
  margin-left: 201px;
}



.welcome-bg {
  background-color: crimson;
}

.welcome {
  background-color: #f2f2f2;
}

.mystery {
  background-color: black;
}
